<% if notice %>
  <div data-controller="swal"
       data-swal-type-value="notice"
       data-swal-message-value="<%= notice %>"
       data-swal-toast-value="true">
  </div>
<% end %>
<% if alert %>
  <div data-controller="swal"
       data-swal-type-value="alert"
       data-swal-message-value="<%= alert %>"
       data-swal-toast-value="true">
  </div>
<% end %>
