<nav class="navbar navbar-lewagon">
  <div class="container-fluid">
    <%= link_to projects_path, class: "navbar-brand-text" do %>
      <span class="brand-ui">UI</span><span class="brand-forge">Forge</span>
    <% end %>
    <div class="navbar-actions">
      <% if user_signed_in? %>
        <%= link_to projects_path, class: "nav-action" do %>
          <i class="fas fa-folder"></i>
          <span>Projects</span>
        <% end %>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-action logout" do %>
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "nav-action" do %>
          <i class="fas fa-sign-in-alt"></i>
          <span>Login</span>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
