.navbar-lewagon {
  justify-content: space-between;
  background: #5f617e;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-lewagon .nav-link {
  color: rgb(222, 222, 222);
}
